In [ ]:
import seaborn as sns
from matplotlib import pyplot as plt
from sqlalchemy import create_engine, text
from sqlalchemy import Numeric
import pandas as pd
from jproperties import Properties

In [4]:
p = Properties()
with open('app.properties', 'rb') as f:
    
    p.load(f, 'utf-8')

uri = p.get('uri').data

In [5]:
engine = create_engine(uri)

def run_sql(query):

    with engine.connect() as conn:
        query_result = conn.execute(text(query)).fetchall()

    return pd.DataFrame(query_result)

In [6]:
q_count_kind = run_sql("""
                        select kind, count(*) 
                        from zap.silver_zapimoveis sz 
                        group by kind order by count(*) desc """)



q_count_kind['percent'] = round(q_count_kind['count'] / q_count_kind['count'].sum() * 100, 2)
q_count_kind = q_count_kind.set_index('kind')
q_count_kind

                                         count  percent
kind
Apartamentos para Alugar                  6986    36.41
Apartamentos à Venda                      2710    14.12
Casas para Alugar                         1803     9.40
Casas à Venda                             1382     7.20
Sobrados para Alugar                      1315     6.85
Sobrados à Venda                          1207     6.29
Flats para Alugar                         1199     6.25
Coberturas para Alugar                     813     4.24
Coberturas à Venda                         565     2.94
Casas de Condomínio à Venda                489     2.55
Casas de Condomínio para Alugar            353     1.84
Studios para Alugar                        161     0.84
Flats à Venda                               36     0.19
Studios à Venda                             36     0.19
Casas de Vila à Venda                       28     0.15
Kitnets para Alugar                         28     0.15
Imóveis para Alugar                         26     0.14
Casas de Vila para Alugar                   22     0.11
Imóveis à Venda                             14     0.07
Fazendas, Sítios e Chácaras para Alugar      5     0.03
Lofts para Alugar                            5     0.03
Fazendas, Sítios e Chácaras à Venda          3     0.02
Lofts à Venda                                2     0.01

In [4]:

q_count_kind.to_csv('./Tableau/listing_per_re_type.csv', index = False)

q_gold_apartment_avg_prices = run_sql("""select * from zap.gold_apartment_avg_prices gaap order by gaap.price_rent_per_m2_avg desc""")
q_gold_apartment_avg_prices.to_csv('./Tableau/gold_apartment_avg_prices.csv', index=False)


q_gold_flat_avg_prices = run_sql("""select * from zap.gold_flat_kit_studio_avg_prices gfap order by price_rent_per_m2_avg DESC""")
q_gold_apartment_avg_prices.to_csv('./Tableau/gold_flat_avg_prices.csv', index=False)


q_gold_floorsize_ranked = run_sql("""SELECT * FROM zap.gold_floorsize_ranked_avg_prices""")
q_gold_floorsize_ranked.to_csv('./Tableau/gold_floorsize_ranked_avg.csv', index = False)